/* Estilos para a nav-bar */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eee;
  font-family: 'Lato', sans-serif;
}

header {
  position: fixed;
  top: 0;
  min-height: 75px;
  padding: 0px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgb(0, 96, 177);
}

@media (max-width: 600px) {
  header {
    flex-wrap: wrap;
  }
}

.logo {
  width: 60vw;
}

@media (max-width: 650px) {
  .logo {
    margin-top: 15px;
    width: 100%;
    position: relative;
  }
}

.logo>img {
  width: 100%;
  height: 100%;
  max-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 20px;
}

@media (max-width: 650px) {
  .logo>img {
    margin: 0 auto;
  }
}

nav {
  font-weight: 400;
  top: 0;
}

@media (max-width: 650px) {
  nav {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 50px;
  }

  nav li {
    padding-bottom: 5px;
  }
}

nav>ul {
  width: 35vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media (max-width: 650px) {
  nav>ul {
    flex-direction: column;
  }
}


/* Estilos para o formulário */
#form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

label {
  font-weight: bold;
  margin-bottom: 10px;
}

input[type="email"] {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
  width: 300px;
  font-size: 16px;
}

input[type="submit"],
button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"] {
  width: 16%;
}

input[type="submit"]:hover {
  background-color: #0069d9;
}

@media (max-width: 768px) {
  /* Estilos para dispositivos com largura máxima de 768px */
}

/* COMO TRABALHAMOS */
#features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}

#features .icon {
  height: 60px;
}

@media (max-width: 550px) {
  #features .icon {
    display: none;
  }
}

#features .desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60px;
  width: 80vw;
  padding: 5px;
}

@media (max-width: 550px) {
  #features .desc {
    width: 100%;
    text-align: center;
    padding: 0;
    height: 150px;
  }
}

@media (max-width: 650px) {
  #features {
    margin-top: 0;
  }
}

#how-it-works {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

#pricing {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: calc(100% / 3);
  margin: 10px;
  border: 2px solid rgb(0, 96, 177);
  border-radius: 3px;
}

.product>.level {
  background-color: rgb(250, 250, 251);
  color: black;
  padding: 15px 0;
  width: 100%;
  text-transform: uppercase;
  font-weight: 700;
}

.product>h2 {
  margin-top: 15px;
}

.product>ol {
  margin: 15px 0;
}

.product>ol>li {
  padding: 5px 0;
}

@media (max-width: 800px) {
  #pricing {
    flex-direction: column;
  }

  .product {
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
  }
}

iframe {
  top: 80%;
  left: 50%;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.product>.level {
  background-color: rgb(250, 250, 251);
  color: black;
  padding: 15px 0;
  width: 100%;
  text-transform: uppercase;
  font-weight: 700;
}

@media (max-width: 800px) {
  #pricing {
    flex-direction: column;
  }

  .product {
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
  }
}

li {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}

.product-logo {
  width: 25vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: calc(100% / 2);
  margin: 10px;
  border-radius: 3px;
  border: 3px solid rgb(255, 101, 0);
}

@media (max-width: 650px) {
  .product-logo {
    margin-top: 20px;
    width: 100%;
    position: relative;
  }
}

.product-logo>img {
  width: 100%;
  height: 100%;
  max-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}